---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="Enquiry Received | CamCleans"
  description="Your cleaning enquiry has been received."
  canonicalPath="/enquiry-received"
>

<h1>Enquiry Received</h1>

<p>
Thank you for contacting CamCleans.
</p>

<p>
Your cleaning enquiry has been received and will be reviewed shortly.
</p>

<p>
If suitable cleaners are available in your area we will contact you.
</p>

</Layout>