---
import Layout from "../../layouts/Layout.astro";
import services from "../../data/services";
import locations from "../../data/locations";

export async function getStaticPaths() {
  return Object.keys(services).map((slug) => ({
    params: { slug }
  }));
}

const { slug } = Astro.params;
const service = services[slug];

if (!service) throw new Error("Service not found");
---

<Layout
  title={`${service.name} | CamCleans`}
  description={service.short}
  canonicalPath={`/services/${slug}`}
>
  <main>
    ...
  </main>
</Layout>