---
import GuideLayout from "../../layouts/GuideLayout.astro";
const title = "Carpet Cleaning Before Moving Out";
const description = "Why carpets are often cleaned before tenancy inspections.";
---
<GuideLayout title={title} description={description} cluster="end-of-tenancy">
<p>Many tenancy agreements require carpets to be returned in clean condition.</p>
</GuideLayout>
