---
import GuideLayout from "../../layouts/GuideLayout.astro";
const title = "Deep Cleaning A Neglected House";
const description = "Steps required to restore heavily neglected properties.";
---
<GuideLayout title={title} description={description} cluster="deep-cleaning">
<p>Neglected homes require intensive cleaning to remove accumulated dirt and debris.</p>
</GuideLayout>
