---
import GuideLayout from "../../layouts/GuideLayout.astro";
const title = "Landlord Cleaning Standards Guide";
const description = "Typical cleanliness standards landlords expect during end of tenancy inspections.";
---
<GuideLayout title={title} description={description} cluster="end-of-tenancy">
<p>Landlords expect properties to be returned in the same condition as at the start of the tenancy.</p>
<h2>Inspection criteria</h2>
<p>Clean surfaces, appliances and flooring are key areas examined during inspection.</p>
</GuideLayout>
