---
import GuideLayout from "../../layouts/GuideLayout.astro";
const title = "Pet Odour Carpet Cleaning";
const description = "How professional cleaning removes pet odours from carpets.";
---
<GuideLayout title={title} description={description} cluster="carpet-cleaning">
<p>Pet accidents can penetrate carpet fibres and padding.</p>
</GuideLayout>
