---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="Application Received | CamCleans"
  description="Your cleaner network application has been received."
  canonicalPath="/application-received"
>

<h1>Application Received</h1>

<p>
Thank you for applying to join the CamCleans cleaning network.
</p>

<p>
We review all applications from cleaners and cleaning companies.  
If suitable work opportunities arise in your area, we will contact you.
</p>

<p>
You can now close this page.
</p>

</Layout>