---
import Layout from "../layouts/Layout.astro";
import services from "../data/services";
---

<Layout>
  <main>
    <h1>CamCleans</h1>

    <ul>
      {Object.entries(services).map(([slug, service]) => (
        <li>
          <a href={`/services/${slug}`}>
            {service.name}
          </a>
        </li>
      ))}
    </ul>
  </main>
</Layout>