---
import Layout from "../../layouts/Layout.astro";
import services from "../../data/services";
import locations from "../../data/locations";

export async function getStaticPaths() {
  return Object.keys(locations).map((slug) => ({
    params: { slug }
  }));
}

const { slug } = Astro.params;
const location = locations[slug];

if (!location) throw new Error("Location not found");
---

<Layout
  title={`Cleaning Services in ${location.name} | CamCleans`}
  description={`Professional cleaning services available in ${location.name}. Compare services and book.`}
  canonicalPath={`/locations/${slug}`}
>
  <main>
    ...
  </main>
</Layout>