---
import Layout from "../../layouts/Layout.astro";
import locations from "../../data/locations";

export async function getStaticPaths() {
  return Object.keys(locations).map((slug) => ({
    params: { slug }
  }));
}

const { slug } = Astro.params;
const location = locations[slug];

if (!location) throw new Error("Location not found");
---

<Layout>
  <main>
    <h1>Cleaning Services in {location.name}</h1>
    <p>Professional cleaning services available in {location.name}.</p>
  </main>
</Layout>